<div class="login container">
    <form name="loginform" class="form" ng-submit="login()">
        <div class="form-group">
            <label for="login-username">Username</label>
            <input type="text" class="form-control" id="login-username" name="username" ng-model="username" required/>
            <div ng-messages="loginform.username.$error">
                <div ng-message="required" class="error">Requried</div>
            </div>
        </div>

        <div class="form-group">
            <label for="login-password">Password</label>
            <input type="{{showloginpass?'text':'password'}}" class="form-control" id="login-password" name="password" ng-model="password" required/>
            <div ng-messages="loginform.password.$error">
                <div ng-message="required" class="error">Requried</div>
            </div>
        </div>
        <div class="from-group">
            <label for="showloginpassword">Showpassword</label>
            <input type="checkbox" id="showloginpassword" ng-model="showloginpass"/>
        </div>

        <button class="btn btn-default" type="submit">
            Login
        </button>
    </form>
</div>